{% extends "base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <form  method="POST" style="width: 400px;">
      {% csrf_token %}
      {% if error %}
        <div class="alert alert-danger"> {{error}}</div>
      {% endif %}

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <input type="submit" value="SignIn" class="btn btn-primary">
    </form>
  </div>
  

{% endblock %}
{% block js_files %}
    <script src="{% static 'blog/js/script.js' %}"></script>
{% endblock %}