{% extends "base.html" %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-3">
            {% include 'partials/_category.html' %}
        </div>
        <div class="col-9">
            <h1>My Blogs</h1>
            <hr>
            {% for blog in blogs %}
                {% include 'blog/partials/_card.html' %}
            {% endfor %}
            

        </div>
    </div>
</div>

{% endblock %}
{% block js_files %}
    <script src="{% static 'blog/js/script.js' %}"></script>
{% endblock %}