{% load static %}
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-3">
        <img src="{{ blog.image1.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'blog_details' blog.id %}">{{blog.title}}</a>
          </h5>
          <p class="card-text">{{blog.summary}}</p>
          {% if blog.user == request.user %}
            <div class="d-flex justify-content-end">
              <a href="{% url 'blogs_edit' blog.id %}" class="btn btn-primary me-2">Edit</a>
              <span class="mx-1"></span>
              <a href="#" onclick="confirmDelete({{ blog.id }})" class="btn btn-danger me-2">Delete</a>
            </div>
          {% endif %}
          
        </div>
      </div>
    </div>
</div>

<script>
  function confirmDelete(blogId) {
    var confirmation = confirm("Are you sure you want to delete this blog?");
    if (confirmation) {
        window.location.href = "/blogs/delete/" + blogId;
    }
}
</script>